{
  "plugins": ["prettier-plugin-apex"],
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "**/lwc/**/*.html",
      "options": {
        "parser": "lwc"
      }
    },
    {
      "files": "*.{cmp,page,component}",
      "options": {
        "trailingComma": "none",
        "parser": "html"
      }
    },
    {
      "files": "*.{cls,trigger}",
      "options": {
        "tabWidth": 2,
        "apexInsertFinalNewline": false
      }
    }
  ]
}
