.slds-card {
    max-width: 500px; /* Set the maximum width you want */
    margin: 0 auto; /* Center the card horizontally */
}

.slds-card__header {
    background-color: #f3f3f3;
    border-bottom: 1px solid #d8dde6;
    padding: 0.75rem;
}


.pay-slip-instructions {
    background-color: #0ae671; /* Lemon color */
    padding: 0.5rem;
    border-radius: 0.25rem;
}

.invoice-instructions {
    background-color: #f09e07; /* Orange color */
    padding: 0.5rem;
    border-radius: 0.25rem;
}
